<h1>This is the festivals page!!!</h1>

<ul>
    <% festivals.forEach(function(festival){ %>
    <div>
         <h4><%= festival.name;  %></h4>
         <img src = "<%= festival.image%>">
    </div>
   
<% }); %>
</ul>
